@{
  ViewData["Title"] = "Home Page";
  Layout = "_Layout_Login";
}

<div class="text-center mt-32 w-100" aria-label="login">
  <div class="card card-light border-0 mt-64" style="width: 480px; margin: 0 auto;">
    <div class="card-body">
      <img src="~/images/temp-countylogo-gs-300dpi.jpg" width="100%" />
      <div class="card-text mt-16">
        <span class="display-5 fw-bold">HomeSeeker</span><br />
        <p>You have been successfully logged out!</p>
      </div>
    </div>
  </div>
</div>