<div class="position-fixed bottom-0 end-0 mb-3 me-3">
  <small><a href="#pagetop" class="btn btn-primary btn-lg bg-dark text-white rounded-circle" title="Back to top"
      aria-label="Back to top" role="button"><i class="fa-solid fa-angles-up"></i></a></small>
</div>