<div class="modal fade" id="listingUnpublishModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="listingUnpublishModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="listingUnpublishModalLabel">Unpublish Listing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-sm-12">
            <p class="lead">Are you sure you want to unpublish this listing?</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <label class="form-label">Reason <span class="text-danger">*</span></label><br />
            <textarea class="form-control whl-formfield-unpublish-listing-reason" placeholder="Enter Reason" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary whl-action-cancel-unpublish-listing" data-bs-dismiss="modal"><i
            class="fa-solid fa-ban"></i>&nbsp;Cancel</button>
        <button type="button" class="btn btn-primary whl-action-confirm-unpublish-listing" data-listingid="@Model.ListingId"><i
            class="fa-solid fa-rotate-left"></i>&nbsp;Unpublish</button>
        <label class="whl-label-confirm-unpublish-listing-inprogress">Unpublishing&hellip;</label>
      </div>
    </div>
  </div>
</div>