@model LoginHelpViewModel
@{
  ViewData["Title"] = "Login Help Requested";
  ViewData["MENUID"] = "PROFILE";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i
          class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Login Help</li>
  </ol>
</nav>

<div class="text-left mt-32">
  @if ((Model.HelpTypeCd ?? "").Trim().ToUpper().Equals("PWD", StringComparison.CurrentCultureIgnoreCase))
  {
    <h4 class="text-success">Password Reset Requested</h4>
    <p>Your request for a password reset has been completed. An email has been sent to your email address on file with a
      confirmation code. Please click on the link in the email to complete your password reset process. The link will only
      be valid for 10 minutes. If you do not see the email in your Inbox, please check your Junk Mail and/or Spam folder.
    </p>
  }
  else if ((Model.HelpTypeCd ?? "").Trim().ToUpper().Equals("USR", StringComparison.CurrentCultureIgnoreCase))
  {
    <h4 class="text-success">Username Requested</h4>
    <p>Your request to retrieve your username has been completed. An email has been sent to the email address on file with a
      confirmation code. Please click on the link in the email to retrieve your username. The link will only
      be valid for 10 minutes. If you do not see the email in your Inbox, please check your Junk Mail and/or Spam folder.
    </p>
  }
  <hr />
</div>
