@{
  ViewData["Title"] = "Password Change Complete";
  ViewData["MENUID"] = "PROFILE";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i
          class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Profile" asp-action="Index"
        title="Profile">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
  </ol>
</nav>

<div class="text-left mt-32 profile-page">
  <div class="card mt-16 mb-3 shadow-sm">
    <div class="card-body">
      <h4 class="text-success">Password Change Complete</h4>
      <p>Your password has now been changed, and you have been logged out. Please <a class="whl-link" asp-area=""
          asp-controller="Account" asp-action="LogIn" title="Click here to log in" aria-label="Click here to log in">log
          in</a> to your account to manage your profile and apply for eligible listings.</p>
    </div>
  </div>
</div>
