@{
  ViewData["Title"] = "Password Reset Complete";
  ViewData["MENUID"] = "PROFILE";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i
          class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
  </ol>
</nav>

<div class="text-left mt-32 login-page">
  <div class="card mt-16 mb-3 shadow-sm">
    <div class="card-body">
      <h4 class="text-success">Password Reset Complete</h4>
      <p>Your password has now been reset. Please <a class="whl-link" asp-area="" asp-controller="Account"
          asp-action="LogIn" title="Click here to log in" aria-label="Click here to log in">log in</a> to your account
        to make changes to your profile and apply for eligible listings.</p>
    </div>
  </div>
</div>
