@model ErrorViewModel
@{
  ViewData["Title"] = "Reset Password Request Failed";
  ViewData["MENUID"] = "PROFILE";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i
          class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
  </ol>
</nav>

<div class="text-left mt-32 login-page">
  <div class="card mt-16 mb-3 shadow-sm">
    <div class="card-body">
      <h4 class="text-danger">Reset Password Request Failed</h4>
      <p>Password reset request failed due to invalid account information, or an expired link. If you feel this message
        was shown in error, Please request for a new link by going <a class="whl-link" asp-area=""
          asp-controller="Account" asp-action="ResetPassword" title="Click here to request a new link via email"
          aria-label="Click here to request a new link via email">here</a>.</p>
      @if (Model.ShowRequestId)
      {
        <p>
          <strong>Code:</strong> <code>@Model.RequestId</code>
        </p>
      }
    </div>
  </div>
</div>