@model ListingViewModel

<p class="fs-5 mt-32 border-bottom">Application Dates</p>
@if (!string.IsNullOrEmpty(Model.DisplayApplicationStartDate))
{
  <p class="text-dark">Start:&nbsp;@Model.DisplayApplicationStartDate</p>
}
else
{
  <p class="text-secondary">Start:&nbsp;N/A</p>
}
@if (!string.IsNullOrEmpty(Model.DisplayApplicationEndDate))
{
  <p class="text-dark">End:&nbsp;@Model.DisplayApplicationEndDate</p>
}
else
{
  <p class="text-secondary">End:&nbsp;N/A</p>
}

<p class="fs-5 mt-32 border-bottom">Lottery Dates</p>
@if (Model.LotteryEligible)
{
  @if (!string.IsNullOrEmpty(Model.DisplayLotteryDate))
  {
    <p class="text-dark">Date/Time:&nbsp;@Model.DisplayLotteryDate</p>
  }
  else
  {
    <p class="text-secondary">Date/Time:&nbsp;N/A</p>
  }
}
else
{
  <p class="text-secondary"><i class="fa-regular fa-circle-xmark"></i>&nbsp;Not Lottery Eligible</p>
}

<p class="fs-5 mt-32 border-bottom">Waitlist Dates</p>
@if (Model.WaitlistEligible)
{
  @if (!string.IsNullOrEmpty(Model.DisplayWaitlistStartDate))
  {
    <p class="text-dark">Start:&nbsp;@Model.DisplayWaitlistStartDate</p>
  }
  else
  {
    <p class="text-secondary">Start:&nbsp;N/A</p>
  }
  @if (!string.IsNullOrEmpty(Model.DisplayWaitlistEndDate))
  {
    <p class="text-dark">End:&nbsp;@Model.DisplayWaitlistEndDate</p>
  }
  else
  {
    <p class="text-secondary">End:&nbsp;N/A</p>
  }
}
else
{
  <p class="text-secondary"><i class="fa-regular fa-circle-xmark"></i>&nbsp;Not Waitlist Eligible</p>
}