<div class="coming-soon w-100" style="">
</div>
<div class="alert alert-light" role="alert"><i class="fa-solid fa-triangle-exclamation text-danger"></i>&nbsp;There are
  no current opportunities that match the selected filter criteria.</div>